<!DOCTYPE html>
<html ng-app="trackIt">
<header>
	<meta charset="UTF-8">
	<title>Time tracker appom</title>
	
	<!-- CSS files -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<!-- Javascript frameworks -->
	<script type="text/javascript" src="lib/jquery/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<!-- Javascripts -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</header>

<body class="container-fluid">
	<div ng-controller="saveTrack">
		<form class="form-inline" ng-model="trackTime">

			<input autofocus type="date" placeholder="Dátum" ng-model="trackTime.date">
			<input required type="time" placeholder="Mettől?" ng-model="trackTime.startTime">
			<input required type="time" placeholder="Meddig?" ng-model="trackTime.endTime">

			<input type="text" placeholder="Poszt" ng-model="trackTime.role">
			<input type="text" placeholder="Projekt" ng-model="trackTime.project">
			<textarea cols="40" rows="1" required type="text" placeholder="Feladat leírása" ng-model="trackTime.description"> </textarea>
			
			<br>
			<button class="btn btn-primary" ng-click="add(trackTime)">Hozzáad</button>
		</form>

		<pre>{{trackTime | json}}</pre>
		<pre>{{addedLine | json}}</pre>
		
		<pre>{{list | json}} </pre>

		<ul>
			<li ng-repeat="item in list track by $index">Kezdete:{{item.startTime}} Vége:{{item.endTime}} Feladat:{{item.description}} </li>
		</ul>

	</div>
</body>
</html>